/***********************
* Variable
***********************/
/***********************
* Mixin
***********************/
@media screen and (max-width: 1350px) {
  .article img[alt="mobile_preview"] {
    position: static !important; } }

@media screen and (max-width: 1350px) and (min-width: 940px) {
  /*.article-wrapper .article {
   margin-left: 215px;
 }*/ }

@media screen and (max-width: 940px) {
  /***********************************************
   * Global
   **********************************************/
  body {
    user-select: none;
    font-size: 13px; }
  #header .navbar {
    display: none !important; }
  #header #mobile-nav {
    display: flex; }
  #sidebar {
    display: block !important;
    transform: translateX(-230px);
    transition: all .3s ease; }
    #sidebar.open {
      transform: translateX(0); }
  #footer {
    padding: 0 20px; }
  /***********************************************
   * Index
   **********************************************/
  .edge .scene-container .sketch-content {
    flex-direction: column;
    align-items: center; }
  .horizon .sketch-content {
    padding: 0 5em; }
  .horizon .sketch-content .inner-box {
    padding: 0 2em; }
  .users .scene-container .textbox {
    flex: 1; }
  .feedback .sketch-content {
    align-content: center; }
  .feedback .scene-container .textbox {
    flex: 1; }
  /***********************************************
   * Post
   **********************************************/
  .summary {
    display: none; }
  .article-wrapper .article {
    margin-left: 0; } }

@media screen and (max-width: 700px) {
  /***********************************************
   * Index
   **********************************************/
  .scene.overlength {
    height: auto;
    min-height: calc(100% - 72px); }
  .horizon .textbox {
    flex: 4; }
  .horizon .sketch-content {
    padding: 0 1em; }
  .horizon .sketch-content .inner-box {
    padding: 0 1em; }
  .horizon .textbox p {
    width: 100%; }
  .users .sketch-content .user-logo {
    width: 140px;
    height: 140px;
    background-size: 45px; }
  .users .sketch-content .user-info p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; }
  .feedback .user-feedback {
    flex: 1 0 140px; } }
