/***********************
* Variable
***********************/
/***********************
* Mixin
***********************/
.article-wrapper {
  width: 100%;
  max-width: 1330px;
  margin: auto; }
  .article-wrapper .article {
    max-width: 900px;
    margin: 90px 0 0 220px;
    padding: 0 1.4em;
    position: relative;
    line-height: 1.8; }
    .article-wrapper .article h1 {
      font-size: 2em;
      color: #333;
      padding-bottom: 5px;
      margin-bottom: 1.67em;
      border-bottom: 1px solid #ddd; }
    .article-wrapper .article h2 {
      font-size: 1.75em;
      margin: 1.7em 0 .5em; }
    .article-wrapper .article h3 {
      font-size: 1.5em;
      margin: 1.7em 0 .5em; }
    .article-wrapper .article h4 {
      font-size: 1.25em;
      margin: 1.7em 0 .5em; }
    .article-wrapper .article h5 {
      font-size: 1.1em;
      margin: 1.7em 0 .5em; }
    .article-wrapper .article img[alt="mobile_preview"] {
      position: absolute;
      left: 900px;
      width: 200px; }
    .article-wrapper .article a {
      color: #4078c0; }
      .article-wrapper .article a:hover {
        text-decoration: underline; }
    .article-wrapper .article .article-date {
      position: absolute;
      top: 60px;
      left: 20px;
      font-size: .9em;
      color: #999; }
    .article-wrapper .article .weex-version {
      display: inline-block;
      padding: .3em .8em;
      color: #fff;
      background: #23CEFD;
      border-radius: 2em;
      line-height: 1.2;
      position: absolute;
      top: 15px;
      right: 20px; }
  .article-wrapper .left-nav {
    float: left;
    width: 220px;
    z-index: 999;
    padding: 15px;
    overflow: hidden; }
