<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  
  <title>&lt;list&gt; | Weex</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="&amp;lt;list&amp;gt;0.4
SummaryA core component which provides the most popular features for using a list of items.  
It can provide better experience and performance with smooth scrolling and memory reusing.">
<meta property="og:type" content="website">
<meta property="og:title" content="<list>">
<meta property="og:url" content="http://alibaba.github.io/references/components/list.html">
<meta property="og:site_name" content="Weex">
<meta property="og:description" content="&amp;lt;list&amp;gt;0.4
SummaryA core component which provides the most popular features for using a list of items.  
It can provide better experience and performance with smooth scrolling and memory reusing.">
<meta property="og:updated_time" content="2016-12-21T03:01:10.000Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="<list>">
<meta name="twitter:description" content="&amp;lt;list&amp;gt;0.4
SummaryA core component which provides the most popular features for using a list of items.  
It can provide better experience and performance with smooth scrolling and memory reusing.">
  
    <link rel="alternate" href="/atom.xml" title="Weex" type="application/atom+xml">
  
  
    <link rel="icon" href="/favicon.png">
  
  
    <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
  
  <link rel="stylesheet" href="/weex-website/css/style.css">
  <link rel="stylesheet" href="/weex-website/css/swiper.min.css">
  

</head>

<body id="references" class="lang-en">
  
  <header id="header">
  <div class="navbar">
    <a id="logo" href="/weex-website/">
      <img src="/weex-website/images/logo.png" />
    </a>
    <div class="main-nav">
      <ul class="links">
        <li><a href="/weex-website/guide">Guide</a></li>
        <li><a href="/weex-website/references">References</a></li>
        <li><a href="/weex-website/faq.html">FAQ</a></li>
        <li class="dropdown">
            <a href="javascript:;">Resources</a>
            <ul class="dropdown-menu subnav">
              <li>
                <a href="/weex-website/playground.html">Playground</a>
              </li>
              <li>
                <a href="/weex-website/tools">Tools</a>
              </li>
              <li>
                <a href="/weex-website/advanced">Advanced</a>
              </li>
              <li>
                <a href="https://www.npmjs.com/package/weex-devtool" target="_blank">Devtool</a>
              </li>
            </ul>
        </li>
      </ul>
      <ul class="info">
        <li><a href="https://github.com/alibaba/weex/" target="_blank"><span class="btn-github iconfont icon-github"></span></a></li>
      </ul>
      <ul class="tools">
        <li>
          <form id="search-form" class="search-form"> <!-- 搜索框相关 -->
  <label class="search-label">
    <input type="text" id="search-input" name="q" results="0" placeholder="search..." class="search form-control" autocomplete="off" autocorrect="off"/>
    <span class="iconfont icon-search"></span>
  </label>
</form>
<div class="results-panel">
</div>
        </li>
        <!--<li></li>-->
      </ul>
    </div>
  </div>
  <div id="mobile-nav">
    <a id="logo" href="/">
      <img src="/weex-website/images/logo.png" />
    </a>
    <a class="btn-menu"><span class="iconfont icon-nav"></span></a>
  </div>
</header>
  <div id="sidebar" class="">
  <div class="sidebar-menu">
    
      <div class="summary">
  <h2 class="part-title">
    
      References
    
  </h2>
  <ul class="doc-summary">
    
    
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
   
    
      <li>
        <h3 class="chapter-title"><a href="/weex-website/references/index.html" class="sidebar-link  ">Common options</a></h3>
        
          <ul class="chapter">
            
              <li>
                <a href="/weex-website/references/bootstrap.html" class="sidebar-link  ">Bootstrap</a>
              </li>
            
              <li>
                <a href="/weex-website/references/special-element.html" class="sidebar-link  ">Special Element</a>
              </li>
            
              <li>
                <a href="/weex-website/references/component-defs.html" class="sidebar-link  ">Component Definition</a>
              </li>
            
              <li>
                <a href="/weex-website/references/api.html" class="sidebar-link  ">Component APIs</a>
              </li>
            
              <li>
                <a href="/weex-website/references/gesture.html" class="sidebar-link  ">Gesture</a>
              </li>
            
              <li>
                <a href="/weex-website/references/common-attrs.html" class="sidebar-link  ">Common Attribute</a>
              </li>
            
              <li>
                <a href="/weex-website/references/common-style.html" class="sidebar-link  ">Common Style</a>
              </li>
            
              <li>
                <a href="/weex-website/references/color-names.html" class="sidebar-link  ">List of the names of colors</a>
              </li>
            
              <li>
                <a href="/weex-website/references/text-style.html" class="sidebar-link  ">Text Style</a>
              </li>
            
              <li>
                <a href="/weex-website/references/common-event.html" class="sidebar-link  ">Common Events</a>
              </li>
            
          </ul>
        
      </li>
    
      <li>
        <h3 class="chapter-title"><a href="/weex-website/references/components/main.html" class="sidebar-link  ">Build-in Components</a></h3>
        
          <ul class="chapter">
            
              <li>
                <a href="/weex-website/references/components/a.html" class="sidebar-link  ">&lt;a&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/indicator.html" class="sidebar-link  ">&lt;indicator&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/switch.html" class="sidebar-link  ">&lt;switch&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/text.html" class="sidebar-link  ">&lt;text&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/textarea.html" class="sidebar-link  ">&lt;textarea&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/video.html" class="sidebar-link  ">&lt;video&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/web.html" class="sidebar-link  ">&lt;web&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/wxc-navpage.html" class="sidebar-link  ">&lt;wxc-navpage&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/wxc-tabbar.html" class="sidebar-link  ">&lt;wxc-tabbar&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/div.html" class="sidebar-link  ">&lt;div&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/image.html" class="sidebar-link  ">&lt;image&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/input.html" class="sidebar-link  ">&lt;input&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/list.html" class="sidebar-link current ">&lt;list&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/cell.html" class="sidebar-link  ">&lt;list&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/refresh-loading.html" class="sidebar-link  ">&lt;refresh&gt; &amp; &lt;loading&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/scroller.html" class="sidebar-link  ">&lt;scroller&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/slider.html" class="sidebar-link  ">&lt;slider&gt;</a>
              </li>
            
          </ul>
        
      </li>
    
      <li>
        <h3 class="chapter-title"><a href="/weex-website/references/modules/index.html" class="sidebar-link  ">Built-in Modules</a></h3>
        
          <ul class="chapter">
            
              <li>
                <a href="/weex-website/references/modules/animation.html" class="sidebar-link  ">animation</a>
              </li>
            
              <li>
                <a href="/weex-website/references/modules/globalevent.html" class="sidebar-link  ">globalEvent</a>
              </li>
            
              <li>
                <a href="/weex-website/references/modules/clipboard.html" class="sidebar-link  ">clipboard</a>
              </li>
            
              <li>
                <a href="/weex-website/references/modules/dom.html" class="sidebar-link  ">dom</a>
              </li>
            
              <li>
                <a href="/weex-website/references/modules/modal.html" class="sidebar-link  ">modal</a>
              </li>
            
              <li>
                <a href="/weex-website/references/modules/navigator.html" class="sidebar-link  ">navigator</a>
              </li>
            
              <li>
                <a href="/weex-website/references/modules/storage.html" class="sidebar-link  ">storage</a>
              </li>
            
              <li>
                <a href="/weex-website/references/modules/stream.html" class="sidebar-link  ">stream</a>
              </li>
            
              <li>
                <a href="/weex-website/references/modules/timer.html" class="sidebar-link  ">Timer</a>
              </li>
            
              <li>
                <a href="/weex-website/references/modules/webview.html" class="sidebar-link  ">webview</a>
              </li>
            
          </ul>
        
      </li>
    
      <li>
        <h3 class="chapter-title"><a href="/weex-website/references/specs/index.html" class="sidebar-link  ">Low-level Specs</a></h3>
        
          <ul class="chapter">
            
              <li>
                <a href="/weex-website/references/specs/js-bundle-format.html" class="sidebar-link  ">JS Bundle format</a>
              </li>
            
              <li>
                <a href="/weex-website/references/specs/js-framework-apis.html" class="sidebar-link  ">JS Framework APIs</a>
              </li>
            
              <li>
                <a href="/weex-website/references/specs/virtual-dom-apis.html" class="sidebar-link  ">Virtual DOM APIs</a>
              </li>
            
          </ul>
        
      </li>
    
  </ul>
</div>
    
    <a class="btn-close-sidebar iconfont  icon-close"></a>
  </div>
</div>
  <div class="article-wrapper page-layout">
  <div class="doc-nav">
    <div class="summary">
  <h2 class="part-title">
    
      References
    
  </h2>
  <ul class="doc-summary">
    
    
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
   
    
      <li>
        <h3 class="chapter-title"><a href="/weex-website/references/index.html" class="sidebar-link  ">Common options</a></h3>
        
          <ul class="chapter">
            
              <li>
                <a href="/weex-website/references/bootstrap.html" class="sidebar-link  ">Bootstrap</a>
              </li>
            
              <li>
                <a href="/weex-website/references/special-element.html" class="sidebar-link  ">Special Element</a>
              </li>
            
              <li>
                <a href="/weex-website/references/component-defs.html" class="sidebar-link  ">Component Definition</a>
              </li>
            
              <li>
                <a href="/weex-website/references/api.html" class="sidebar-link  ">Component APIs</a>
              </li>
            
              <li>
                <a href="/weex-website/references/gesture.html" class="sidebar-link  ">Gesture</a>
              </li>
            
              <li>
                <a href="/weex-website/references/common-attrs.html" class="sidebar-link  ">Common Attribute</a>
              </li>
            
              <li>
                <a href="/weex-website/references/common-style.html" class="sidebar-link  ">Common Style</a>
              </li>
            
              <li>
                <a href="/weex-website/references/color-names.html" class="sidebar-link  ">List of the names of colors</a>
              </li>
            
              <li>
                <a href="/weex-website/references/text-style.html" class="sidebar-link  ">Text Style</a>
              </li>
            
              <li>
                <a href="/weex-website/references/common-event.html" class="sidebar-link  ">Common Events</a>
              </li>
            
          </ul>
        
      </li>
    
      <li>
        <h3 class="chapter-title"><a href="/weex-website/references/components/main.html" class="sidebar-link  ">Build-in Components</a></h3>
        
          <ul class="chapter">
            
              <li>
                <a href="/weex-website/references/components/a.html" class="sidebar-link  ">&lt;a&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/indicator.html" class="sidebar-link  ">&lt;indicator&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/switch.html" class="sidebar-link  ">&lt;switch&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/text.html" class="sidebar-link  ">&lt;text&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/textarea.html" class="sidebar-link  ">&lt;textarea&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/video.html" class="sidebar-link  ">&lt;video&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/web.html" class="sidebar-link  ">&lt;web&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/wxc-navpage.html" class="sidebar-link  ">&lt;wxc-navpage&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/wxc-tabbar.html" class="sidebar-link  ">&lt;wxc-tabbar&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/div.html" class="sidebar-link  ">&lt;div&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/image.html" class="sidebar-link  ">&lt;image&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/input.html" class="sidebar-link  ">&lt;input&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/list.html" class="sidebar-link current ">&lt;list&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/cell.html" class="sidebar-link  ">&lt;list&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/refresh-loading.html" class="sidebar-link  ">&lt;refresh&gt; &amp; &lt;loading&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/scroller.html" class="sidebar-link  ">&lt;scroller&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/slider.html" class="sidebar-link  ">&lt;slider&gt;</a>
              </li>
            
          </ul>
        
      </li>
    
      <li>
        <h3 class="chapter-title"><a href="/weex-website/references/modules/index.html" class="sidebar-link  ">Built-in Modules</a></h3>
        
          <ul class="chapter">
            
              <li>
                <a href="/weex-website/references/modules/animation.html" class="sidebar-link  ">animation</a>
              </li>
            
              <li>
                <a href="/weex-website/references/modules/globalevent.html" class="sidebar-link  ">globalEvent</a>
              </li>
            
              <li>
                <a href="/weex-website/references/modules/clipboard.html" class="sidebar-link  ">clipboard</a>
              </li>
            
              <li>
                <a href="/weex-website/references/modules/dom.html" class="sidebar-link  ">dom</a>
              </li>
            
              <li>
                <a href="/weex-website/references/modules/modal.html" class="sidebar-link  ">modal</a>
              </li>
            
              <li>
                <a href="/weex-website/references/modules/navigator.html" class="sidebar-link  ">navigator</a>
              </li>
            
              <li>
                <a href="/weex-website/references/modules/storage.html" class="sidebar-link  ">storage</a>
              </li>
            
              <li>
                <a href="/weex-website/references/modules/stream.html" class="sidebar-link  ">stream</a>
              </li>
            
              <li>
                <a href="/weex-website/references/modules/timer.html" class="sidebar-link  ">Timer</a>
              </li>
            
              <li>
                <a href="/weex-website/references/modules/webview.html" class="sidebar-link  ">webview</a>
              </li>
            
          </ul>
        
      </li>
    
      <li>
        <h3 class="chapter-title"><a href="/weex-website/references/specs/index.html" class="sidebar-link  ">Low-level Specs</a></h3>
        
          <ul class="chapter">
            
              <li>
                <a href="/weex-website/references/specs/js-bundle-format.html" class="sidebar-link  ">JS Bundle format</a>
              </li>
            
              <li>
                <a href="/weex-website/references/specs/js-framework-apis.html" class="sidebar-link  ">JS Framework APIs</a>
              </li>
            
              <li>
                <a href="/weex-website/references/specs/virtual-dom-apis.html" class="sidebar-link  ">Virtual DOM APIs</a>
              </li>
            
          </ul>
        
      </li>
    
  </ul>
</div>
  </div>
  

<article id="page-undefined" class="article article-type-references">
  <div class="article-entry" itemprop="articleBody">
    <header class="article-header">
  
    
      <h1 class="article-title" itemprop="name">
        &lt;list&gt;
      </h1>
    
  
  <time class="article-date" datetime="2016-12-21T03:01:10.000Z">Updated time: 21/12/2016</time>
</header>
    <h1 id="lt-list-gt"><a href="#lt-list-gt" class="headerlink" title="&lt;list&gt;"></a>&lt;list&gt;</h1><p><span class="weex-version">0.4</span></p>
<h3 id="Summary"><a href="#Summary" class="headerlink" title="Summary"></a>Summary</h3><p>A core component which provides the most popular features for using a list of items.  </p>
<p>It can provide better experience and performance with smooth scrolling and memory reusing.</p>
<h3 id="Child-Components"><a href="#Child-Components" class="headerlink" title="Child Components"></a>Child Components</h3><p><strong>Notes:</strong> The <code>list</code>‘s subcomponents can only contain <code>cell</code>, <code>header</code>, <code>refresh</code>, <code>loading</code> or fixed-position components. Other kind of components will not be displayed correctly.</p>
<ul>
<li><code>cell</code> defines the attributes and behavior of the cells that appear in list.</li>
<li><code>header</code> <sup class="wx-v">0.6.1</sup> header which will stick to the top when it reaches the top of the screen.</li>
<li><code>refresh</code> component can be used inside list to add pull down to refresh functionality.</li>
<li><p><code>loading</code> component can be used inside list to add pull up to loadmore functionality.</p>
</li>
<li><p><code>refresh</code> and <code>loading</code> please check out the <a href="refresh-loading.html">refresh-loading</a>.</p>
</li>
</ul>
<h3 id="Attributes"><a href="#Attributes" class="headerlink" title="Attributes"></a>Attributes</h3><ul>
<li><code>loadmoreoffset</code>: &lt;number&gt; the offset distance downwards the bottom of the list to trigger the loadmore event, which is triggered when the list scrolls down near enough to the bottom.</li>
</ul>
<p>Other attributes please check out the <a href="../references/common-attrs.html">common attributes</a>.</p>
<h3 id="Styles"><a href="#Styles" class="headerlink" title="Styles"></a>Styles</h3><p><strong>common styles</strong>: check out <a href="../references/common-style.html">common styles for components</a></p>
<ul>
<li>support flexbox related styles</li>
<li>support box model related styles</li>
<li>support <code>position</code> related styles</li>
<li>support <code>opacity</code>, <code>background-color</code> etc.</li>
</ul>
<h3 id="Events"><a href="#Events" class="headerlink" title="Events"></a>Events</h3><ul>
<li><code>loadmore</code> <sup class="wx-v">0.5</sup>: if the list scrolls to bottom, this event will be triggered immediately. You can load the next page of items in this event handler.</li>
</ul>
<p><strong>common events</strong>: check out the <a href="../references/common-event.html">common events</a></p>
<ul>
<li>support <code>click</code> event. Check out <a href="../references/common-event.html">common events</a></li>
<li>support <code>appear</code> / <code>disappear</code> event. Check out <a href="../references/common-event.html">common events</a></li>
</ul>
<h3 id="API"><a href="#API" class="headerlink" title="API"></a>API</h3><p>All cells or cell’s subcomponents in list support the <code>scrollToElement</code> API in <a href="../modules/dom.html">dom module</a></p>
<h3 id="Restriction"><a href="#Restriction" class="headerlink" title="Restriction"></a>Restriction</h3><p>Nested lists or scrollers within the same direction are <strong>not</strong> supported. In other words. nested lists/scroller must have different directions.</p>
<p>For example, a vertical list nested in a vertical list or scroller is <strong> not </strong> allowed. However, a vertical list nested in a horizontal list or scroller is legal.</p>
<h3 id="Example"><a href="#Example" class="headerlink" title="Example"></a>Example</h3><p>see <a href="https://github.com/alibaba/weex/blob/example/examples/component/list/list-basic.we" target="_blank" rel="external">list-basic demo</a></p>

  </div>
  
</article>
</div>
  <script>window.PAGE_TYPE = "references"</script>
  <footer id="footer">
  <div class="row clearfix">
    <div class="ali-logo">
      <img src="/weex-website/images/ali-open-source.png" alt="Alibaba">
    </div>
    <div class="dropdown select-lang">
      <a href="javascript:;" class="dropdown-toggle">
        Language
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="/weex-website/references/components/list.html">English</a>
        </li>
        <li>
          <a href="/weex-website/cn/references/components/list.html">中文</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <p><span>Released under </span><a href="">Apache License 2.0</a></p>
  </div>
  <div class="row clearfix">
    <div class="cell"><span>Copyright(c) 2016 </span><a href="https://www.alibaba.com">Alibaba</a></div>
    <div class="cell"><span>GroupMade by </span><a href="">阿里云UED AX</a></div>
    <div class="cell"><span>Proudly Produced by </span><a href="https://baichuan.taobao.com/">Alibaichuan</a> <span class="iconfont icon-baichuan"></span></div>
  </div>
</footer>
  

<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>-->


  <script src="/weex-website/js/reqwest.js"></script>
  <script src="/weex-website/js/velocity.js"></script>
  <script src="/weex-website/js/common.js"></script>
</body>
</html>
