<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  
  <title>&lt;refresh&gt; &amp; &lt;loading&gt; | Weex</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="&amp;lt;refresh-loading&amp;gt;Summary
refresh component can be used inside list/scroller to add pull to refresh functionality, the style of headerview can be set by specifying the style of refresh.
loading c">
<meta property="og:type" content="website">
<meta property="og:title" content="<refresh> & <loading>">
<meta property="og:url" content="http://alibaba.github.io/references/components/refresh-loading.html">
<meta property="og:site_name" content="Weex">
<meta property="og:description" content="&amp;lt;refresh-loading&amp;gt;Summary
refresh component can be used inside list/scroller to add pull to refresh functionality, the style of headerview can be set by specifying the style of refresh.
loading c">
<meta property="og:updated_time" content="2016-12-21T03:01:09.000Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="<refresh> & <loading>">
<meta name="twitter:description" content="&amp;lt;refresh-loading&amp;gt;Summary
refresh component can be used inside list/scroller to add pull to refresh functionality, the style of headerview can be set by specifying the style of refresh.
loading c">
  
    <link rel="alternate" href="/atom.xml" title="Weex" type="application/atom+xml">
  
  
    <link rel="icon" href="/favicon.png">
  
  
    <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
  
  <link rel="stylesheet" href="/weex-website/css/style.css">
  <link rel="stylesheet" href="/weex-website/css/swiper.min.css">
  

</head>

<body id="references">
  
  <header id="header">
  <div class="navbar">
    <a id="logo" href="/weex-website/">
      <img src="/weex-website/images/logo.png" />
    </a>
    <div class="main-nav">
      <ul class="links">
        <li><a href="/weex-website/guide">Guide</a></li>
        <li><a href="/weex-website/references">References</a></li>
        <li><a href="/weex-website/faq.html">FAQ</a></li>
        <li class="dropdown">
            <a href="javascript:;">Resources</a>
            <ul class="dropdown-menu subnav">
              <li>
                <a href="./playground.html">Playground</a>
              </li>
              <li>
                <a href="https://www.npmjs.com/package/weex-devtool" target="_blank">Devtool</a>
              </li>
            </ul>
        </li>
      </ul>
      <ul class="info">
        <li><a href="https://github.com/alibaba/weex/" target="_blank"><span class="btn-github iconfont icon-github"></span></a></li>
      </ul>
      <ul class="tools">
        <li><a class="btn-search"><span class="iconfont icon-search"></span></a></li>
        <!--<li></li>-->
      </ul>
    </div>
  </div>
  <div id="mobile-nav">
    <a id="logo" href="/">
      <img src="/weex-website/images/logo.png" />
    </a>
    <a class="btn-menu"><span class="iconfont icon-nav"></span></a>
  </div>
</header>
  <div id="sidebar" class="">
  <div class="sidebar-menu">
    
      <ul class="main-nav">
        <li>
          <a class="" href="/weex-website/guide">
            Guide
          </a>
        </li>
        <li>
          <a class="" href="/weex-website/references">
            References
          </a>
        </li>
        <li>
          <a href="/weex-website/faq">
            FAQ
          </a>
        </li>
        <li>
            <p>Resources</p>
            <ul class="subnav">
              <li>
                <a href="./playground.html">Playground</a>
              </li>
              <li>
                <a href="https://www.npmjs.com/package/weex-devtool" target="_blank">Devtool</a>
              </li>
            </ul>
        </li>
        <li>
          <a href="https://github.com/alibaba/weex" target="_blank">
            Github
          </a>
        </li>
      </ul>
    
    <a class="btn-close-sidebar iconfont  icon-close"></a>
  </div>
</div>
  <div class="article-wrapper page-layout">
  <div class="doc-nav">
    <div class="summary">
  <h2 class="part-title">References</h2>  
  <ul class="doc-summary">
    
    
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
      
      
        
      
    
   
    
      <li>
        <h3 class="chapter-title"><a href="/weex-website/references/index.html" class="sidebar-link  ">Common options</a></h3>
        
          <ul class="chapter">
            
              <li>
                <a href="/weex-website/references/bootstrap.html" class="sidebar-link  ">Bootstrap</a>
              </li>
            
              <li>
                <a href="/weex-website/references/special-element.html" class="sidebar-link  ">Special Element</a>
              </li>
            
              <li>
                <a href="/weex-website/references/component-defs.html" class="sidebar-link  ">Component Definition</a>
              </li>
            
              <li>
                <a href="/weex-website/references/api.html" class="sidebar-link  ">Component APIs</a>
              </li>
            
              <li>
                <a href="/weex-website/references/gesture.html" class="sidebar-link  ">Gesture</a>
              </li>
            
              <li>
                <a href="/weex-website/references/common-attrs.html" class="sidebar-link  ">Common Attribute</a>
              </li>
            
              <li>
                <a href="/weex-website/references/common-style.html" class="sidebar-link  ">Common Style</a>
              </li>
            
              <li>
                <a href="/weex-website/references/color-names.html" class="sidebar-link  ">List of the names of colors</a>
              </li>
            
              <li>
                <a href="/weex-website/references/text-style.html" class="sidebar-link  ">Text Style</a>
              </li>
            
              <li>
                <a href="/weex-website/references/common-event.html" class="sidebar-link  ">Common Events</a>
              </li>
            
          </ul>
        
      </li>
    
      <li>
        <h3 class="chapter-title"><a href="/weex-website/references/components/main.html" class="sidebar-link  ">Build-in Components</a></h3>
        
          <ul class="chapter">
            
              <li>
                <a href="/weex-website/references/components/a.html" class="sidebar-link  ">&lt;a&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/indicator.html" class="sidebar-link  ">&lt;indicator&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/switch.html" class="sidebar-link  ">&lt;switch&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/text.html" class="sidebar-link  ">&lt;text&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/textarea.html" class="sidebar-link  ">&lt;textarea&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/video.html" class="sidebar-link  ">&lt;video&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/web.html" class="sidebar-link  ">&lt;web&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/wxc-navpage.html" class="sidebar-link  ">&lt;wxc-navpage&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/wxc-tabbar.html" class="sidebar-link  ">&lt;wxc-tabbar&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/div.html" class="sidebar-link  ">&lt;div&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/image.html" class="sidebar-link  ">&lt;image&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/input.html" class="sidebar-link  ">&lt;input&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/list.html" class="sidebar-link  ">&lt;list&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/cell.html" class="sidebar-link  ">&lt;list&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/refresh-loading.html" class="sidebar-link current ">&lt;refresh&gt; &amp; &lt;loading&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/scroller.html" class="sidebar-link  ">&lt;scroller&gt;</a>
              </li>
            
              <li>
                <a href="/weex-website/references/components/slider.html" class="sidebar-link  ">&lt;slider&gt;</a>
              </li>
            
          </ul>
        
      </li>
    
      <li>
        <h3 class="chapter-title"><a href="/weex-website/references/modules/index.html" class="sidebar-link  ">Built-in Modules</a></h3>
        
          <ul class="chapter">
            
              <li>
                <a href="/weex-website/references/modules/animation.html" class="sidebar-link  ">animation</a>
              </li>
            
              <li>
                <a href="/weex-website/references/modules/globalevent.html" class="sidebar-link  ">globalEvent</a>
              </li>
            
              <li>
                <a href="/weex-website/references/modules/clipboard.html" class="sidebar-link  ">clipboard</a>
              </li>
            
              <li>
                <a href="/weex-website/references/modules/dom.html" class="sidebar-link  ">dom</a>
              </li>
            
              <li>
                <a href="/weex-website/references/modules/modal.html" class="sidebar-link  ">modal</a>
              </li>
            
              <li>
                <a href="/weex-website/references/modules/navigator.html" class="sidebar-link  ">navigator</a>
              </li>
            
              <li>
                <a href="/weex-website/references/modules/storage.html" class="sidebar-link  ">storage</a>
              </li>
            
              <li>
                <a href="/weex-website/references/modules/stream.html" class="sidebar-link  ">stream</a>
              </li>
            
              <li>
                <a href="/weex-website/references/modules/timer.html" class="sidebar-link  ">Timer</a>
              </li>
            
              <li>
                <a href="/weex-website/references/modules/webview.html" class="sidebar-link  ">webview</a>
              </li>
            
          </ul>
        
      </li>
    
      <li>
        <h3 class="chapter-title"><a href="/weex-website/references/specs/index.html" class="sidebar-link  ">Low-level Specs</a></h3>
        
          <ul class="chapter">
            
              <li>
                <a href="/weex-website/references/specs/js-bundle-format.html" class="sidebar-link  ">JS Bundle format</a>
              </li>
            
              <li>
                <a href="/weex-website/references/specs/js-framework-apis.html" class="sidebar-link  ">JS Framework APIs</a>
              </li>
            
              <li>
                <a href="/weex-website/references/specs/virtual-dom-apis.html" class="sidebar-link  ">Virtual DOM APIs</a>
              </li>
            
          </ul>
        
      </li>
    
  </ul>
</div>
  </div>
  

<article id="page-undefined" class="article article-type-references">
  <div class="article-entry" itemprop="articleBody">
    <header class="article-header">
  
    
      <h1 class="article-title" itemprop="name">
        &lt;refresh&gt; &amp; &lt;loading&gt;
      </h1>
    
  
  <time class="article-date" datetime="2016-12-21T03:01:09.000Z">Updated time: 21/12/2016</time>
</header>
    <h1 id="lt-refresh-loading-gt"><a href="#lt-refresh-loading-gt" class="headerlink" title="&lt;refresh-loading&gt;"></a>&lt;refresh-loading&gt;</h1><h3 id="Summary"><a href="#Summary" class="headerlink" title="Summary"></a>Summary</h3><ul>
<li><code>refresh</code> component can be used inside list/scroller to add pull to refresh functionality, the style of headerview can be set by specifying the style of refresh.</li>
<li><code>loading</code> component can be used inside list/scroller to add loading view at the bottom of container, the style of footerview can be set by specifying the style of loading.</li>
</ul>
<h3 id="Child-Components"><a href="#Child-Components" class="headerlink" title="Child Components"></a>Child Components</h3><p><strong>Notes:</strong> <code>refresh</code> and <code>loading</code> is able to contain any type of sub-components you want, default loading animation can be achieved by using <code>loading-indicator</code> component from weex.</p>
<ul>
<li><code>loading-indicator</code> default loading animation can be achieved by using this component in refresh and loading component，supports <code>color</code> property; Default <code>width</code> and <code>height</code> of <code>loading-indicator</code> is 0, so it must specify its <code>width</code> and <code>height</code>.</li>
</ul>
<h3 id="Attributes"><a href="#Attributes" class="headerlink" title="Attributes"></a>Attributes</h3><ul>
<li><code>display</code> is a switch which toggles the visibility of refresh and loading component. <code>display</code> should be set to <code>show</code> in callback of <code>onrefresh</code> and <code>onloading</code>, and set to <code>hide</code> after refresh and loading is done.</li>
</ul>
<p>Other attributes please check out the <a href="../references/common-attrs.html">common attributes</a>.</p>
<h3 id="Events"><a href="#Events" class="headerlink" title="Events"></a>Events</h3><ul>
<li>support <code>onrefresh</code> event  <sup class="wx-v">0.5</sup>.  If a <code>refresh</code> component is inside <code>scroller</code> / <code>list</code>, this event will be triggered when it is pull down refresh.</li>
<li>support <code>onloading</code> event .  If a <code>loading</code> component is inside <code>scroller</code> / <code>list</code>, this event will be triggered when it is pull up loadmore.</li>
</ul>
<h3 id="Example"><a href="#Example" class="headerlink" title="Example"></a>Example</h3><p>see <a href="https://github.com/alibaba/weex/blob/dev/examples/component/list/list-basic.we" target="_blank" rel="external">list-basic demo</a> and <a href="https://github.com/alibaba/weex/blob/dev/examples/component/scroller-demo.we" target="_blank" rel="external">scroller demo</a></p>

  </div>
  
</article>
</div>
  <script>window.PAGE_TYPE = "references"</script>
  <footer id="footer">
  <div class="row clearfix">
    <div class="ali-logo">
      <img src="/weex-website/images/ali-open-source.png" alt="Alibaba">
    </div>
    <div class="dropdown select-lang">
      <a href="javascript:;" class="dropdown-toggle">
        Language
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="/weex-website/">English</a>
        </li>
        <li>
          <a href="/weex-website/cn">中文</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <p><span>Released under </span><a href="">Apache License 2.0</a></p>
  </div>
  <div class="row clearfix">
    <div class="cell"><span>Copyright(c) 2016 </span><a href="https://www.alibaba.com">Alibaba</a></div>
    <div class="cell"><span>GroupMade by </span><a href="">阿里云UED AX</a></div>
    <div class="cell"><span>Proudly Produced by </span><a href="https://baichuan.taobao.com/">Alibaichuan</a> <span class="iconfont icon-baichuan"></span></div>
  </div>
</footer>
  

<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>-->


  <script src="/weex-website/js/velocity.js"></script>
  <script src="/weex-website/js/common.js"></script>
</body>
</html>
