<footer id="footer">
  <div class="row clearfix">
    <div class="ali-logo">
      <img src="<%= config.root %>images/ali-open-source.png" alt="Alibaba">
    </div>
    <div class="dropdown select-lang">
      <a href="javascript:;" class="dropdown-toggle">
        Language
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="<%= config.root %>">English</a>
        </li>
        <li>
          <a href="<%= config.root %>cn">中文</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <p><span>Released under </span><a href="">Apache License 2.0</a></p>
  </div>
  <div class="row clearfix">
    <div class="cell"><span>Copyright(c) 2016 </span><a href="https://www.alibaba.com">Alibaba</a></div>
    <div class="cell"><span>GroupMade by </span><a href="">阿里云UED AX</a></div>
    <div class="cell"><span>Proudly Produced by </span><a href="https://baichuan.taobao.com/">Alibaichuan</a> <span class="iconfont icon-baichuan"></span></div>
  </div>
</footer>