<div id="slider">
  <div class="swiper-container swiper-container-horizontal">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background:url('<%= config.root %>images/slide1.png') 50% 50% / contain no-repeat">
        <div class="slide-content">
            <a href="/docs/get-started.html" class="button get-started"><%= _p('index.get_started') %> →</a>
        </div>
      </div>
    </div>
    <div class="swiper-button-next iconfont icon-arrow-small"></div>
    <div class="swiper-button-prev iconfont icon-arrow-small"></div>
  </div>
</div>