@import "../variable.scss";

#sidebar {
  display: none;
  height: 100%;
  width: 220px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 90px 20px 10px;
  background: #fff;
  box-shadow: -3px 0 20px rgba(0, 0, 0, .2);
  overflow: hidden;

  .sidebar-menu {
    z-index: 999;
    overflow-y: auto;

    .btn-close-sidebar {
      cursor: pointer;
      display: block;
      font-size: 1.5em;
      position: absolute;
      top: 18px;
      left: 18px;
      background: transparent;
      border: none;
      &:hover {
        border: none;
        color: #777;
      }
    }
  }

  .main-nav {
    border-bottom: 1px solid #DDDDDD;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      margin-bottom: 25px;
    }

    a {
      font-size: 1.3em;
      color: $text-black;
      &:hover {
        border-bottom: .2em solid $text-blue;
      }
    }
  }

  .summary {
    display: block;
    
    li {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    h3, h4, a {
      height: 30px;
      line-height: 30px;
      margin: 0;
    }

    h3 {
      font-size: 1em;
      font-weight: 600;
      color: $text-black;
    }

    h4 {
      font-size: 1em;
      color: $text-black;
      margin: 0;
    }

  }
}