@import "../variable.scss";

#sidebar {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  padding: 80px 40px;
  overflow: hidden;

  ul, li , ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .sidebar-backdrop {  
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    background: rgba(0,0,0,.7);
  }

  .sidebar-menu {
    width: 390px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    z-index: 999;
    padding: 80px 40px;
    overflow-y: scroll;
    transform: translateX(390px);

    .btn-close-sidebar {
      cursor: pointer;
      display: block;
      font-size: 1.5em;
      position: absolute;
      top: 18px;
      right: 18px;
      background: transparent;
      border: none;
      &:hover {
        border: none;
        color: #777;
      }
    }
  }

  .main-nav {
    border-bottom: 1px solid #DDDDDD;
    overflow: hidden;

    li {
      margin-bottom: 25px;
    }

    a {
      font-size: 1.3em;
      color: $text-black;
      &:hover {
        border-bottom: .2em solid $text-blue;
      }
    }
  }

  .summary {

    li {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    h3, h4, a {
      height: 30px;
      line-height: 30px;
      margin: 0;
    }

    h3 {
      font-size: 1em;
      font-weight: 600;
      color: $text-black;
    }

    h4 {
      font-size: 1em;
      color: $text-black;
      margin: 0;
    }

  }
}