/***********************
* Variable
***********************/
/***********************
* Mixin
***********************/
#sidebar {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  padding: 80px 40px;
  overflow: hidden; }
  #sidebar ul, #sidebar li, #sidebar ol {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  #sidebar .sidebar-backdrop {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    background: rgba(0, 0, 0, 0.7); }
  #sidebar .sidebar-menu {
    width: 390px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    z-index: 999;
    padding: 80px 40px;
    overflow-y: scroll;
    transform: translateX(390px); }
    #sidebar .sidebar-menu .btn-close-sidebar {
      cursor: pointer;
      display: block;
      font-size: 1.5em;
      position: absolute;
      top: 18px;
      right: 18px;
      background: transparent;
      border: none; }
      #sidebar .sidebar-menu .btn-close-sidebar:hover {
        border: none;
        color: #777; }
  #sidebar .main-nav {
    border-bottom: 1px solid #DDDDDD;
    overflow: hidden; }
    #sidebar .main-nav li {
      margin-bottom: 25px; }
    #sidebar .main-nav a {
      font-size: 1.3em;
      color: #333; }
      #sidebar .main-nav a:hover {
        border-bottom: 0.2em solid #00BDFF; }
  #sidebar .summary li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  #sidebar .summary h3, #sidebar .summary h4, #sidebar .summary a {
    height: 30px;
    line-height: 30px;
    margin: 0; }
  #sidebar .summary h3 {
    font-size: 1em;
    font-weight: 600;
    color: #333; }
  #sidebar .summary h4 {
    font-size: 1em;
    color: #333;
    margin: 0; }
