/***********************
* Variable
***********************/
/***********************
* Mixin
***********************/
#sidebar {
  display: none;
  height: 100%;
  width: 220px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 90px 20px 10px;
  background: #fff;
  box-shadow: -3px 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden; }
  #sidebar .sidebar-menu {
    z-index: 999;
    overflow-y: auto; }
    #sidebar .sidebar-menu .btn-close-sidebar {
      cursor: pointer;
      display: block;
      font-size: 1.5em;
      position: absolute;
      top: 18px;
      left: 18px;
      background: transparent;
      border: none; }
      #sidebar .sidebar-menu .btn-close-sidebar:hover {
        border: none;
        color: #777; }
  #sidebar .main-nav {
    border-bottom: 1px solid #DDDDDD;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none; }
    #sidebar .main-nav li {
      margin-bottom: 25px; }
    #sidebar .main-nav a {
      font-size: 1.3em;
      color: #333; }
      #sidebar .main-nav a:hover {
        border-bottom: 0.2em solid #00BDFF; }
  #sidebar .summary {
    display: block; }
    #sidebar .summary li {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    #sidebar .summary h3, #sidebar .summary h4, #sidebar .summary a {
      height: 30px;
      line-height: 30px;
      margin: 0; }
    #sidebar .summary h3 {
      font-size: 1em;
      font-weight: 600;
      color: #333; }
    #sidebar .summary h4 {
      font-size: 1em;
      color: #333;
      margin: 0; }
