/***********************
* Variable
***********************/
/***********************
* Mixin
***********************/
.summary ul, .summary li, .summary ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.summary a.current {
  /*border: none;*/
  /*color: $text-blue;*/ }

.summary a:hover {
  color: #00BDFF; }

.summary h2.part-title {
  font-size: 1.5em; }

.summary h3.chapter-title {
  font-size: 1.2em; }

.summary ul.chapter {
  margin-left: 20px; }
  .summary ul.chapter li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 15px; }
