<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  
  <title>Weex</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="This is the description of &amp;lt;div&amp;gt; in Weex.">
<meta property="og:type" content="website">
<meta property="og:title" content="Weex">
<meta property="og:url" content="http://alibaba.github.io/components/div.html">
<meta property="og:site_name" content="Weex">
<meta property="og:description" content="This is the description of &amp;lt;div&amp;gt; in Weex.">
<meta property="og:updated_time" content="2016-12-13T02:42:44.000Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Weex">
<meta name="twitter:description" content="This is the description of &amp;lt;div&amp;gt; in Weex.">
  
    <link rel="alternate" href="/atom.xml" title="Weex" type="application/atom+xml">
  
  
    <link rel="icon" href="/favicon.png">
  
  
    <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
  
  <link rel="stylesheet" href="/weex-website/css/style.css">
  <link rel="stylesheet" href="/weex-website/css/swiper.min.css">
  

</head>

<body id="docs">
  <article id="page-undefined" class="article article-type-page" itemscope itemprop="blogPost">
  <div class="article-meta">
    <a href="/weex-website/components/div.html" class="article-date">
  <time datetime="2016-12-13T02:42:44.000Z" itemprop="datePublished">2016-12-13</time>
</a>
    
  </div>
  <div class="article-inner">
    

    
    <div class="article-entry" itemprop="articleBody">
      
        <p>This is the description of <code>&lt;div&gt;</code> in Weex.</p>

      
    </div>
    <footer class="article-footer">
      <a data-url="http://alibaba.github.io/components/div.html" data-id="ciwrkjokq00042mxxkqg0wmqi" class="article-share-link">Share</a>
      
      
    </footer>
  </div>
  
    
  
</article>


  <footer id="footer">
  <div class="row clearfix">
    <div class="ali-logo">
      <img src="/weex-website//images/ali-open-source.png" alt="Alibaba">
    </div>
    <div class="dropdown select-lang">
      <a href="javascript:;" class="dropdown-toggle">
        Language
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="/zh-cn">Chine</a>
        </li>
        <li>
          <a href="/">English</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <p><span>Released under </span><a href="">Apache License 2.0</a></p>
  </div>
  <div class="row clearfix">
    <div class="cell"><span>Copyright(c) 2016 </span><a href="https://www.alibaba.com">Alibaba</a></div>
    <div class="cell"><span>GroupMade by </span><a href="">阿里云UED AX</a></div>
    <div class="cell"><span>Proudly Produced by </span><a href="https://baichuan.taobao.com/">Alibaichuan</a> <span class="iconfont icon-baichuan"></span></div>
  </div>
</footer>
  

<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>-->


  <script src="/weex-website/js/velocity.js"></script>
  <script src="/weex-website/js/common.js"></script>
</body>
</html>
