@import "variable.scss";

.article-wrapper {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 90px auto 0;

  .article {
    max-width: 900px;
    margin: 90px 0 0 300px;
    padding: 0 1.4em;
    position: relative;
    line-height: 1.8;

    h1 {
      font-size: 2em;
      color: #333;
      padding-bottom: 5px;
      margin-bottom: 1.67em;
      border-bottom: 1px solid $border-light;
    }

    h2 {
      font-size: 1.75em;
      margin: 1.7em 0 .5em;
    }

    h3 {
      font-size: 1.5em;
      margin: 1.7em 0 .5em;
    }

    h4 {
      font-size: 1.25em;
      margin: 1.7em 0 .5em;
    }

    h5 {
      font-size: 1.1em;
      margin: 1.7em 0 .5em;
    }

    /*img[alt="mobile_preview"] {
      position: absolute;
      left: 900px;
      width: 200px;
    }*/

    a {
      color: #4078c0;
      &:hover {
        text-decoration: underline;
      }
    }

    .article-date {
      position: absolute;
      top: 60px;
      left: 20px;
      font-size: .9em;
      color: $text-gray;
    }

    .weex-version {
      display: inline-block;
      padding: .3em .8em;
      color: #fff;
      background: $bg-light-blue;
      border-radius: 2em;
      line-height: 1.2;
      position: absolute;
      top: 15px;
      right: 20px;
    }   
  }

  .left-nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: $bg-gray;
    width: 300px;
    z-index: 999;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}