<div class="example-wrapper clearfix">
  <div class="horizontal">
    <h2><%- page.title %></h2>
    <%- page.content %>      
  </div>
  <div class="horizontal phone">
    <div class="mock-phone">
      <div class="inner">
        <iframe frameborder="0" src="about:blank" id="iframe">
        </iframe>
      </div>
      <div class="camera"></div>
      <div class="earpiece"></div>
      <div class="home-btn"></div>
    </div>
  </div>
</div>
<script>
  var BUNDLE_URL = '<%- page.web_bundle_url %>'
</script>

<%- js('js/example.js') %>
