<header>
  <weex-brand>
    <img src="<%= config.root %>/images/logo.png" />
    Weex
  </brand>
  <weex-menu>
    <li><a href="./docs">Docs</a></li>
    <li><a href="./download">Download</a></li>
    <li><a href="https://github.com/alibaba/weex/">Github</a></li>
  </weex-menu>
</header>

<scene>
  <hgroup>
    <h1>Weex</h1>
    <h2>A framework for building Mobile cross-platform UI</h2>
  </hgroup>
</scene>

<scene style="color: #00BDFF;">
  <h2>Competitive Edge</h2>
  <div>
    <div>
      <h3>Lightweight</h3>
      <p>...</p>
    </div>
    <div>
      <h3>Extendable</h3>
      <p>...</p>
    </div>
    <div>
      <h3>High Performance</h3>
      <p>...</p>
    </div>
  </div>
</scene>

<scene>
  <h2>Help You Build REAL Native App</h2>
  <p>...</p>
</scene>

<scene>
  <h2>Write Once Run Everywhere</h2>
  <p>...</p>
</scene>

<scene>
  <h2>Supporing Vue Syntax</h2>
  <p>...</p>
</scene>

<scene>
  <h2>How It Works</h2>
  <p>...</p>
</scene>

<scene>
  <h2>Who Use Weex</h2>
  <p>...</p>
</scene>

<scene>
  <h2>People Says</h2>
  <p>...</p>
</scene>

<footer>
  Copyright
  <language>
    <a href="./">EN</a>
    <a href="./cn">CN</a>
  </language>
</footer>
